@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/nunito');

body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    display: flex;
    font-family: 'Nunito', sans-serif;
}