@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/nunito');

body {
    margin: 0;
    width: 1920px;
    height: 1080px;
    display: flex;
    font-family: 'Nunito', sans-serif;
}

#wire{
  text-align: center;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  width: 100%;
  top: -80px;
  border-bottom: 3px solid #222;
  height: 100px;
}

/* Bulbs */

#wire li{
  position: relative;
  list-style: nonne;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  width: 15px;
  height: 30px;
  border-radius: 50%;
  top: 102px;
  background: #fff;
  animation-name: even-bulb;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

#wire li:nth-child(odd){
  animation-name: odd-bulb;
}

#wire li:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 8px;
  border-radius: 3px;
  top: -4px;
  left: 0;
  background: #444;
}

@keyframes even-bulb{
  0%, 100%{
    background: rgba(255,30,65,1);
    box-shadow: 0px 2px 20px 4px rgba(255,30,65,1)
  }
  
  50%{
    background: rgba(255,30,65,0.5);
    box-shadow: 0px 2px 20px 4px rgba(255,30,65,0.2)
  }
}


@keyframes odd-bulb{
  50%{
    background: rgba(255,65,185,1);
    box-shadow: 0px 2px 20px 4px rgba(255,65,185,1)
  }
  
  0%, 100%{
    background: rgba(255,65,185,0.5);
    box-shadow: 0px 2px 20px 4px rgba(255,65,185,0.2)
  }
}